<div class="container">
  <h1>Carga de productos</h1>

  <form id="product-form">
    <div class="mb-3">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Escribe el título"
        required
      />
    </div>
    <div class="mb-3">
      <label for="price">Price</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        placeholder="99.99"
        required
      />
    </div>
    <div class="mb-3">
      <label for="thumbnail">Thumbnail</label>
      <input
        type="text"
        class="form-control"
        id="thumbnail"
        name="thumbnail"
        placeholder="URL de imagen"
        required
      />
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="col-md-12 text-center">
    <a href="/api/productos" class="btn btn-secondary">Ir a sección productos</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody id="products">
    </tbody>
  </table>
</div>

<form class="main" id="message-form">
  <input
    type="text"
    class="form-control"
    placeholder="Escribe tu email"
    id="user"
    required
  />

  <div class="px-2 scroll" id="messages"></div>

  <input
    type="text number"
    name="text"
    class="form-control"
    id="message"
    placeholder="Escribe tu mensaje..."
  />
  <div class="col-md-12 text-center">
    <button type="submit" class="btn">Enviar</button>
  </div>
</form>