<div class="container">

  <h1>Sección productos</h1>
  {{#if cartAvailable}}
    <h2>Productos cargados</h2>
    <div class="row">
      {{#each products}}
        <div class="col-md-3 col-sm-6">

          <div class="product-grid">
            <div class="product-image">
              <img class="pic-1" src={{this.thumbnail}} />
            </div>

            <h2>{{this.title}}</h2>
            <p>${{this.price}}</p>
          </div>

        </div>
      {{/each}}
    </div>
  {{else}}
    <h2>No se encontraron productos</h2>
  {{/if}}

  <div class="col-md-12 text-center">
    <a href="/" class="btn btn-primary">Cargar más productos</a>
  </div>
</div>