/********************* shopping Demo-1 **********************/
.product-grid {
  font-family: Raleway, sans-serif;
  text-align: center;
  /* padding: 0 0 72px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image {
  position: relative;
  transition: all 0.3s ease 0s;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .pic-1 {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
}
.product-grid:hover .pic-1 {
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}

.main {
  background-color: #eee;
  width: 320px;
  position: fixed;
  bottom: 5px;
  right: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px 0px 0px 0px;
}
.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 325px;
}
.img1 {
  border-radius: 50%;
  background-color: #66bb6a;
}
.name {
  font-size: 8px;
}
.date {
  font-size: 8px;
  color: grey;
}
.msg {
  background-color: #fff;
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  color: #3e3c3c;
}
.navbar {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control {
  font-size: 12px;
  font-weight: 400;
  width: 230px;
  height: 30px;
  border: none;
}
.form-control:focus {
  box-shadow: none;
  overflow: hidden;
  border: none;
}
.form-control:focus {
  box-shadow: none !important;
}
.icon1 {
  color: #7c4dff !important;
  font-size: 18px !important;
  cursor: pointer;
}

.icon2 {
  color: #512da8 !important;
  font-size: 18px !important;
  position: relative;
  left: 8px;
  padding: 0px;
  cursor: pointer;
}

.icondiv {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: relative;
  bottom: 1px;
}
