extends layout.pug

block content
    .container
        h1 Carga de productos
        form(action="/api/productos", method="post")
            .mb-3 
                label(for="title") Title
                input(type="text" class="form-control", id="title", name="title", placeholder="Escribe el título" required)
            .mb-3 
                label(for="price") Price
                input(type="text" class="form-control", id="price", name="price", placeholder="99.99" required)
            .mb-3 
                label(for="thumbnail") Thumbnail
                input(type="text" class="form-control", id="thumbnailu", name="thumbnail", placeholder="URL de imagen" required)
            .col-md-12.text-center
                button(type="submit" class="btn btn-primary") Submit
        .col-md-12.text-center
            a(href="/api/productos" class="btn btn-secondary") Ir a sección productos
        
