extends layout.pug 

block content
    .container
        h1 Sección productos
        if cartAvailable 
            h2 Productos cargados
            .row
                each product in products 
                    .col-md-3.col-sm-6 
                        .product-grid 
                            .product-image 
                                img(src=product.thumbnail, alt="img")
                            h2=product.title 
                            p=product.price
        else 
            h2 No se encontraron productos
        .col-md-12.text-center  
            a(href="/" class="btn btn-primary") Cargar más productos 